.person__info {
    display: flex;
    align-items: center;
    gap: 18px;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    align-self: flex-start;
    
}

@media (max-width: 320px) {
    .person__info {
      gap: 10px;
      
      
      
    }
}


